/*
    Color palette:
    Black: #000000 (0,0,0)
    Dark Grey: #212121 (33,33,33)
    Light Grey: #A3A3A3 (163,163,163)
    Blue: #006699	(63,203,203)
    Pink: #FF0065	(255,0,101)
    White: #FFFFFF (255,255,255)
*/
/*    Banner     */
#banner {
    height: 80%;
    width: 100%;
    font-family: 'Open Sans';
    background-image: url('../img/website/contact-banner-macbook.png');
    background-size: cover;
    padding-top: 120px;
}

#contact-content {
    height: 90%;
    width: 85%;
    margin: auto;
    display: flex;
}

#contact-content .half {
    height: 100%;
    width: 50%;
}

#contact-content .header {
    text-align: center;
    color: #FFF;
    margin-top: 10px;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact-info .info {
    width: 80%;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    color: #A3A3A3;
    transition: 0.2s ease-in-out;
    transform: translate(0px, 0px);
    margin: auto;
}

#contact-info .info:hover {
    transform: translate(-1px, -1px);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

#contact-info .info .title {
    width: 20%;
    color: #006699;
}

#contact-info .info>div {
    margin-left: 10px;
}

#contact-form form {
    border: 2px solid red;
}
/*    //Banner     */