/*
    Color palette:
    Black: #000000 (0,0,0)
    Dark Grey: #212121 (33,33,33)
    Light Grey: #A3A3A3 (163,163,163)
    Blue: #006699	(63,203,203)
    Pink: #FF0065	(255,0,101)
    White: #FFFFFF (255,255,255)
*/
/*    Banner     */
#banner {
    height: 100%;
    width: 100%;
    background-image: url('../img/website/index-banner-wallpaper-macbook.jpg');
    background-size: cover;
    background-size: 150%;
    background-attachment: fixed;
    font-family: 'Open Sans';
}

#banner-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.65);
}

#banner-text {
    position: relative;
}

#banner-text h1 {
    color: #FFFFFF;
}

#banner-text h1 span {
    font-size: 100%;
    color: #006699;
}

#banner-text h2 {
    color: #A3A3A3;
}

#banner-buttons {
    position: relative;
    height: 50px;
    width: 270px;
    top: 20%;
    left: 25%;
}

#banner-buttons a {
    display: flex;
    text-decoration: none;
    position: absolute;
}

#banner-buttons a#button-1 {
    top: 0;
    left: 0;
    border: 2px solid #006699;
    background-color: #006699;
    color: #222;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

#banner-buttons a#button-1:hover {
    transform: scale(1.2);
}

#banner-buttons a#button-2 {
    top: 0;
    right: 0;
    border: 2px solid #006699;
    background-color: transparent;
    color: #006699;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

#banner-buttons a#button-2:hover {
    transform: scale(1.2);
}

#banner-buttons .button {
    height: 80%;
    width: 100%;
    text-align: center;
}
/*    //Banner     */

/*    About     */
#about {
    width: 100%;
    display: flex;
    font-family: 'Open Sans';
    background-color: #FFF;
    color: #333;
}

#about .about-half {
    overflow: hidden;
}

#about #about-head {
    margin-top: 30px;
}

#about #about-head h1 {
    text-align: center;
    margin: auto;
    position: relative;
}

#about #about-head h1::after {
    content: '';
    height: 100%;
    width: 0%;
    border-bottom: 5px solid #006699;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;
}

#about-right:hover #about-head h1::after {
    width: 100%;
}

#about #about-content {
    margin: auto;
    margin-top: 10px;
    width: 85%;
}

#about #about-content h2 {
    margin-top: 10px;
}

#about #about-more {
    width: 85%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

#about #about-more a {
    display: block;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    background-color: transparent;
    color: #006699;
    border: 2px solid #006699;
    transition: 0.2s ease-in-out;
}

#about #about-more a:hover {
    background-color: #006699;
    color: #FFFFFF;
}

#about #about-left img {
    height: auto;
    width: 100%;
    position: relative;
    top: -100px;
}
/*    //About     */

/*    Parallax     */
.parallax {
    height: 50%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.inner-parallax {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

#parallax-1 {
    background-image: url(../img/website/parallax-wallpaper-1.jpg);
}

#parallax-2 {
    background-image: url('../img/website/parallax-wallpaper-2.jpg');
}
/*    //Parallax     */

/*    Skills     */
#skills {
    height: auto;
    width: 100%;
    padding: 40px 0px;
    font-family: 'Open Sans';
    background-color: #FFF;
}

#skills #skills-head {
    text-align: center;
}

#skills #skills-content {
    width: 60%;
    margin: auto;
    font-family: 'Josefin Sans';
    color: #333;
}

#skills-content .sub-head {
    margin-top: 10px;
}

#skills-content .sub-head-title {
    margin: auto;
    text-align: center;
    color: #333;
}

#skills-content .sub-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills-content .sub-content .lang {
    text-align: center;
    position: relative;
    transition: 0.2s ease-in-out;
    top: 0px;
    opacity: 1;
}

#skills-content .sub-content .lang.down {
    top: 30px;
    opacity: 0;
}

#skills-content .lang img {
    height: 100%;
    transition: 0.2s ease-in-out;
    filter: blur(0px);
}

#skills-content .lang .lang-title {
    width: 100%;
    position: absolute;
    top: 110%;
    transition: 0.1s ease-in-out;
    color: #333;
    box-shadow: 0px 5px 15px -5px #A3A3A3;
}

#skills-content .lang:hover .lang-title {
    box-shadow: 0px 5px 5px -5px #A3A3A3;
}

#skills-content .lang:hover img {
    filter: blur(5px);
}

#skill-button {
    text-align: center;
    transition: 0.3s ease-in-out;
    border: 2px solid #006699;
    background-color: #FFF;
}

#skill-button a {
    text-decoration: none;
    color: #006699;
    transition: 0.3s ease-in-out;
}

#skill-button:hover {
    border: 2px solid #FFF;
    background-color: #006699;
    cursor: pointer;
}

#skill-button:hover a {
    color: #FFF;
}
/*    //Skills     */

@media only screen and (max-width: 600px) {
    /*    Phones     */
    
    body {
        height: 50%;
    }
    
    #banner-text {
        left: 15%;
        height: 220px;
        width: 70%;
        top: 25%;
    }
    
    #banner-text h1 {
        font-size: 120%;
    }
    
    #banner-text h2 {
        font-size: 90%;
        line-height: 30px;
    }

    #banner-buttons {
        height: 50px;
        width: 200px;
        top: 0%;
        left: 15%;
    }

    #banner-buttons a {
        height: 60%;
        width: 80px;
    }
    
    #banner-buttons .button {
        padding-top: 4px;
        font-size: 80%;
    }
    
    #about {
        height: auto;
        flex-direction: column-reverse;
    }
    
    #about .about-half {
        height: auto;
        width: 100%;
    }
    
    #about #about-left {
        height: 420px;
    }
    
    #about #about-left img {
    }
    
    #about #about-right {
        padding-bottom: 20px;
        width: 85%;
        margin: auto;
    }
    
    #about #about-head h1 {
        font-size: 100%;
        width: 130px;
        padding-bottom: 5px;
    }
    
    #about #about-content h2 {
        font-size: 80%;
    }
    
    #about #about-more a {
        height: 25px;
        width: 100px;
    }
    
    #about #about-more .button {
        font-size: 15px;
    }
    
    #skills #skills-head {
        font-size: 60%;
    }
    
    #skills-content .sub-head-title h2 {
        font-size: 80%;
    }
    
    #skills-content .sub-content .lang {
        height: 100px;
        margin: 40px 0px 50px 0px;
    }
    
    #skills-content .lang .lang-title {
        font-size: 70%;
    }
    
    #skill-button {
        height: 30px;
        width: 120px;
        padding-top: 5px;
        margin: auto;
    }
    
    #skill-button a div {
        font-size: 90%;
    }
    
    .parallax {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /*    Tablets and large phones     */
    
    
    body {
        height: 70%;
    }
    
    #banner-text {
        left: 20%;
        height: 300px;
        width: 70%;
        top: calc(50% - 100px);
    }
    
    #banner-text h1 {
        font-size: 150%;
    }
    
    #banner-text h2 {
        font-size: 120%;
        line-height: 40px;
    }

    #banner-buttons {
        height: 50px;
        width: 250px;
        top: 10%;
        left: 20%;
    }

    #banner-buttons a {
        height: 70%;
        width: 100px;
    }
    
    #banner-buttons .button {
        padding-top: 5px;
        font-size: 90%;
    }
    
    #about {
        height: auto;
        flex-direction: column-reverse;
    }
    
    #about .about-half {
        height: auto;
        width: 100%;
    }
    
    #about #about-left {
        height: 500px;
    }
    
    #about #about-left img {
        top: -250px;
    }
    
    #about #about-right {
        padding-bottom: 20px;
        width: 80%;
        margin: auto;
    }
    
    #about #about-head h1 {
        font-size: 130%;
        width: 130px;
        padding-bottom: 5px;
    }
    
    #about #about-content h2 {
        font-size: 100%;
    }
    
    #about #about-more a {
        height: 30px;
        width: 110px;
    }
    
    #about #about-more .button {
        font-size: 18px;
    }
    
    #skills #skills-head {
        font-size: 80%;
    }
    
    #skills-content .sub-head-title h2 {
        font-size: 100%;
    }
    
    #skills-content .sub-content .lang {
        height: 130px;
        margin: 40px 0px 50px 0px;
    }
    
    #skills-content .lang .lang-title {
        font-size: 80%;
    }
    
    #skill-button {
        height: 30px;
        width: 135px;
        padding-top: 5px;
        margin: auto;
    }
    
    #skill-button a div {
        font-size: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /*    Rest     */
    
    body {
        height: 631px;
    }
    
    #banner-text {
        left: 25%;
        height: 300px;
        width: 50%;
        top: calc(50% - 120px);
    }
    
    #banner-text h1 {
        font-size: 180%;
    }
    
    #banner-text h2 {
        font-size: 150%;
        line-height: 45px;
    }

    #banner-buttons {
        height: 50px;
        width: 270px;
        top: 20%;
        left: 25%;
    }

    #banner-buttons a {
        height: 90%;
        width: 120px;
    }
    
    #banner-buttons .button {
        padding-top: 9px;
        font-size: 100%;
    }
    
    #about {
        height: 51vw;
    }
    
    #about .about-half {
        height: 100%;
        width: 50%;
    }
    
    #about #about-head h1 {
        font-size: 180%;
        width: 180px;
        padding-bottom: 3px;
    }
    
    #about #about-content h2 {
        font-size: 2vw;
    }
    
    #about #about-more a {
        height: 35px;
        width: 130px;
        font-size: 20px;
    }
    
    #skills #skills-head {
        font-size: 100%;
    }
    
    #skills-content .sub-head-title h2 {
        font-size: 120%;
    }
    
    #skills-content .sub-content .lang {
        height: 150px;
        margin: 40px 60px 50px 0px;
    }
    
    #skills-content .lang .lang-title {
        font-size: 90%;
    }
    
    #skill-button {
        height: 40px;
        width: 150px;
        padding-top: 10px;
        margin-left: calc(48% - 75px);
    }
    
    #skill-button a div {
        font-size: 120%;
    }
}