/*
    Color palette:
    Black: #000000 (0,0,0)
    Dark Grey: #212121 (33,33,33)
    Light Grey: #A3A3A3 (163,163,163)
    Blue: #006699	(63,203,203)
    Pink: #FF0065	(255,0,101)
    White: #FFFFFF (255,255,255)
*/
/*    Banner     */
#banner {
    height: 100%;
    width: 100%;
    background-image: url('../img/website/index-banner-wallpaper-macbook.jpg');
    background-size: cover;
    background-size: 150%;
    background-attachment: fixed;
    font-family: 'Open Sans';
}

#banner-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.65);
}

#banner-text {
    height: 300px;
    width: 50%;
    position: relative;
    top: calc(50% - 120px);
    left: 25%;
}

#banner-text h1 {
    font-size: 250%;
    color: #FFFFFF;
}

#banner-text h1 span {
    font-size: 100%;
    color: #006699;
}

#banner-text h2 {
    font-size: 180%;
    line-height: 45px;
    color: #A3A3A3;
}

#banner-buttons {
    position: relative;
    height: 50px;
    width: 270px;
    top: 20%;
    left: 25%;
}

#banner-buttons a {
    display: block;
    height: 90%;
    width: 120px;
    display: flex;
    text-decoration: none;
    position: absolute;
}

#banner-buttons a#button-1 {
    top: 0;
    left: 0;
    border: 2px solid #006699;
    background-color: #006699;
    color: black;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

#banner-buttons a#button-1:hover {
    transform: scale(1.2);
}

#banner-buttons a#button-2 {
    top: 0;
    right: 0;
    border: 2px solid #006699;
    background-color: transparent;
    color: #006699;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

#banner-buttons a#button-2:hover {
    transform: scale(1.2);
}

#banner-buttons .button {
    height: 80%;
    width: 100%;
    text-align: center;
    padding-top: 9px;
}
/*    //Banner     */

/*    About     */
#about {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Open Sans';
    background-color: #FFF;
}

#about .about-half {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#about #about-head {
    margin-top: 30px;
}

#about #about-head h1 {
    width: 180px;
    text-align: center;
    margin: auto;
    position: relative;
}

#about #about-head h1::after {
    content: '';
    height: 100%;
    width: 0%;
    border-bottom: 5px solid #006699;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;
}

#about-right:hover #about-head h1::after {
    width: 100%;
}

#about #about-content {
    margin: auto;
    margin-top: 10px;
    width: 85%;
}

#about #about-content h2 {
    margin-top: 10px;
}

#about #about-more {
    width: 85%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

#about #about-more a {
    display: block;
    height: 35px;
    width: 130px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    background-color: transparent;
    color: #006699;
    border: 2px solid #006699;
    transition: 0.2s ease-in-out;
}

#about #about-more a:hover {
    background-color: #006699;
    color: #FFFFFF;
}

#about #about-left img {
    height: auto;
    width: 100%;
    position: relative;
    top: -100px;
}
/*    //About     */

/*    Parallax     */
.parallax {
    height: 50%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.inner-parallax {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
}

#parallax-1 {
    background-image: url(../img/website/parallax-wallpaper-1.jpg);
}

#parallax-2 {
    background-image: url('../img/website/parallax-wallpaper-2.jpg');
    background-position: middle;
}
/*    //Parallax     */

/*    Skills     */
#skills {
    height: auto;
    width: 100%;
    padding: 40px 0px;
    font-family: 'Open Sans';
    background-color: #FFF;
}

#skills #skills-head {
    text-align: center
}

#skills #skills-content {
    width: 60%;
    margin: auto;
    font-family: 'Josefin Sans';
}

#skills-content .sub-head {
    margin-top: 10px;
}

#skills-content .sub-head-title {
    margin: auto;
    text-align: center;
}

#skills-content .sub-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills-content .sub-content .lang {
    text-align: center;
    margin: 40px 60px 50px 0px;
    height: 150px;
    position: relative;
}

#skills-content .lang img {
    height: 100%;
    transition: 0.2s ease-in-out;
    filter: blur(0px);
}

#skills-content .lang .lang-title {
    width: 100%;
    position: absolute;
    top: 110%;
    transition: 0.1s ease-in-out;
    font-size: 90%;
    color: #212121;
    box-shadow: 0px 5px 15px -5px #A3A3A3;
}

#skills-content .lang:hover .lang-title {
    box-shadow: 0px 5px 5px -5px #A3A3A3;
}

#skills-content .lang:hover img {
    filter: blur(5px);
}

#skill-button {
    height: 40px;
    width: 150px;
    padding-top: 10px;
    text-align: center;
    margin-left: calc(48% - 75px);
    transition: 0.3s ease-in-out;
    border: 2px solid #006699;
    background-color: #FFF;
}

#skill-button a {
    text-decoration: none;
    color: #006699;
    transition: 0.3s ease-in-out;
}

#skill-button:hover {
    border: 2px solid #FFF;
    background-color: #006699;
    cursor: pointer;
}

#skill-button:hover a {
    color: #FFF;
}
/*    //Skills     */