/*
    Color palette:
    Black: #000000 (0,0,0)
    Dark Grey: #212121 (33,33,33)
    Light Grey: #A3A3A3 (163,163,163)
    Blue: #006699	(63,203,203)
    Pink: #FF0065	(255,0,101)
    White: #FFFFFF (255,255,255)
*/
/*    Banner     */
#banner {
    width: 100%;
    background-image: url('../img/website/projects-banner-macbook.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans';
}

#banner-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#banner-text {
    height: 250px;
    width: 50%;
    position: relative;
    top: calc(50% - 100px);
    left: 25%;
}

#banner-text h1 {
    color: #FFF;
}

#banner-text h1 span {
    font-size: 100%;
    color: #006699;
}

#banner-text h2 {
    line-height: 45px;
    color: #A3A3A3;
}
/*    //Banner     */

#projects {
    background-color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    font-family: 'Open Sans';
}

#projects-wrap {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.project-item {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

.project-item:nth-child(even) .project-title {
    text-align: right;
}

.project-item:nth-child(even) .project-content {
    flex-direction: row-reverse;
}

.project-title h2 {
    color: #006699;
}

.project-content {
    margin-top: 20px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.project-image {
    height: auto;
    width: 45%;
}

.project-image img {
    height: auto;
    width: 100%;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 20px 20px -15px grey;
    transform: translate(0px, 0px);
}

.project-image img:hover {
    box-shadow: 0px 20px 20px -10px grey;
    transform: translate(0px, -2px);
}

.project-desc {
    width: 45%;
}

.project-desc span {
    text-shadow: 0px 1px black;
}

@media only screen and (max-width: 600px) {
    /*    Phones     */
    #banner {
        height: 60%;
    }
    
    #banner-text {
        height: 200px;
        top: calc(50% - 70px);
    }
    
    #banner-text h1 {
        font-size: 150%;
    }
    
    #banner-text h2 {
        font-size: 100%;
    }
    
    .project-item {
        padding-bottom: 40px;
        border-bottom: 1px solid #ccc;
    }
    
    .project-item .project-title h1 {
        font-size: 120%;
    }
    
    .project-item .project-title h2 {
        font-size: 80%;
    }
    
    .project-item .project-title {
        text-align: center;
    }
    
    .project-item:nth-child(even) .project-title {
        text-align: center;
    }
    
    .project-item .project-content, .project-item:nth-child(even) .project-content {
        flex-direction: column;
    }
    
    .project-item .project-image {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
    }
    
    .project-item .project-desc {
        width: 100%;
    }
    
    .project-item .project-desc h3 {
        font-size: 80%;
    }
    
    .project-item .project-desc span {
        font-size: 100%;
    }
    
    .project-item .project-desc h3 a {
        font-size: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /*    Tablets and large phones     */
    
    #banner {
        height: 90%;
    }
    
    #banner-text {
        height: 200px;
        top: calc(50% - 100px);
    }
    
    #banner-text h1 {
        font-size: 200%;
    }
    
    #banner-text h2 {
        font-size: 150%;
    }
    
    .project-item {
        padding-bottom: 40px;
        border-bottom: 1px solid #ccc;
    }
    
    .project-item .project-title h1 {
        font-size: 150%;
    }
    
    .project-item .project-title h2 {
        font-size: 100%;
    }
    
    .project-item .project-title {
        text-align: center;
    }
    
    .project-item:nth-child(even) .project-title {
        text-align: center;
    }
    
    .project-item .project-content, .project-item:nth-child(even) .project-content {
        flex-direction: column;
    }
    
    .project-item .project-image {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
    }
    
    .project-item .project-desc {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /*    Rest     */
    
    #banner {
        height: 100%;
    }
    
    #banner-text h1 {
        font-size: 250%;
    }
    
    #banner-text h2 {
        font-size: 200%;
    }
    
    .project-item .project-title h1 {
        font-size: 180%;
    }
    
    .project-item .project-title h2 {
        font-size: 120%;
    }
}