/*
    Color palette:
    Black: #000000 (0,0,0)
    Dark Grey: #212121 (33,33,33)
    Light Grey: #A3A3A3 (163,163,163)
    Blue: #006699	(63,203,203)
    Pink: #FF0065	(255,0,101)
    White: #FFFFFF (255,255,255)
*/
/* Extra */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Open Sans';
}
/* //Extra */

/* Nav */
.nav {
    height: 60px;
    width: 90%;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 3%;
    background-color: transparent;
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    z-index: 100;
}

.nav-logo {
    height: 100%;
    width: 26%;
    min-width: 250px;
    margin-right: 5%;
    float: left;
}

.nav-logo a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-logo a h1 {
    font-size: 200%;
    color: #FFFFFF;
}

.nav-logo a img {
    height: 100%;
    margin-right: 20px;
}

.nav-list {
    height: 100%;
    width: 65%;
    float: left;
    clear: right;
}

.nav-list ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list ul li {
    height: 20px;
    padding: 15px 30px;
    list-style: none;
    cursor: pointer;
}

.nav-list ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: #FFFFFF;
    position: relative;
    text-transform: uppercase;
}

.nav-list ul li a::after {
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FF0065;
    transition: 0.2s linear;
}

.nav-list ul li:hover a::after {
    width: 100%;
}
/* //Nav */

/* Banner */
.banner {
    height: 100%;
    background-image: url(./img/index-banner-wallpaper-macbook.jpg);
    background-attachment: fixed;
    font-family: 'Open Sans';
    color: #A3A3A3;
}

.banner-inner {
    height: 100%;
    background-color: rgba(30,30,30,0.8);
}

.banner-title {
    position: relative;
    width: 50%;
    top: 30%;
    font-size: 150%;
    margin: auto;
}

.banner-title h1 {
    color: #FFFFFF;
}

.banner-title .name {
    color: #FF0065;
}

.banner-title .highlight {
    position: relative;
}

.banner-title .highlight::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #FF0065;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s linear;
}

.banner-title:hover .highlight::after {
    width: 100%;
}
/* //Banner */

/* About */
.section {
    min-height: 100%;
    height: auto;
    width: 90%;
    padding: 5% 5%;
    text-align: center;
}

.section .header {
    color: #212121;
    padding: 20px 0px;
}

.section .section-content {
    border: 2px solid red;
    padding: 20px 2% 20px 5%;
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.language {
    height: 180px;
    width: 110px;
    padding: 10px;
    position: relative;
    margin: 20px 5%;
}

.language::after {
    border: 1px solid #006699;
    background-color: #DDDDDD;
    border-radius: 10px;
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.language::before {
    background-color: #006699;
    border-radius: 10px;
    content: "";
    height: 10.5px;
    width: 40%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
}

.language .container {
    height: 80%;
    width: 100%;
    position: relative;
    perspective: 800px;
}

.container #card {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#card div {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#card div img {
    height: 100%;
    width: 100%;
}

#card .back {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transform: rotateY(180deg);
}

#card .back img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

#card .back h2 {
    z-index: 2;
}

.container:hover #card {
    transform: rotateY(180deg);
}

/* //About */